<section class="span-24">
	<div class="span-16" id="upcomingEvents">
		<h2>Upcoming events</h2>
		<ul>
			<li>Event 1</li>
			<li>Event 2</li>
			<li>Event 3</li>
		</ul>
	</div>
	<div class="span-8 last" id="featuredProjects">
		<h2>Featured projects</h2>
		<ul>
			<li>Project 1</li>
			<li>Project 2</li>
		</ul>
	</div>
</section>
