<header class="span-24">
	<h1 class="span-20">HackingParty.org</h1>
	<div class="span-4 last">
	<a href="/access/register" class="button">Register</a>
	<a href="/access/sign-in" class="button">Sign-in</a>
	</div>
</header>
